@charset "utf-8";

table {
   border-spacing: 3px;
   border-collapse: separate;
   border: 14px groove rgb(44, 194, 245);
   width: 100%;
}

th, td {
   border: 3px solid rgb(8, 133, 172);
   padding: 5px;
   text-align: center;
   vertical-align: center;
}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

table col#firstCol {
   background-color: rgb(18, 205, 205);
   width: 120px;
}

table col#hourCols {
   width: 75px;
}

table thead {
   background-color: rgb(0, 255, 255);
   color: rgb(0, 116, 158);
}

.time {
   text-align: right;
}

.Weekly_Schedule {
   color: rgb(0, 116, 158);
   letter-spacing: 1px;
   background-color: rgb(25, 221, 215)
}